.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  position: absolute;
  font-size: 30px;
  text-align: center;
  bottom: 0;
}

.subText {
  font-size: 15px;
}
